<!-- Simple test version - add this directly to cart.liquid template for debugging -->
<div style="border: 2px solid red; padding: 20px; margin: 20px 0;">
  <h3>🧪 FULFILLMENT SELECTOR TEST</h3>
  <p>If you see this, the section is loading!</p>
  
  <div>
    <input type="radio" id="test-delivery" name="test-fulfillment" value="delivery" checked>
    <label for="test-delivery">Ship to me</label>
  </div>
  
  <div>
    <input type="radio" id="test-pickup" name="test-fulfillment" value="pickup">
    <label for="test-pickup">Pick up in store</label>
  </div>
</div>